In [66]:
import sqlite3
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

In [67]:
with sqlite3.connect("../laliga.sqlite") as con:
    df=pd.read_sql_query("SELECT * FROM Matches",con)
    dr=pd.read_sql_query("SELECT * FROM Predictions",con)

df = df.dropna(subset=['score'])

In [68]:

df["score_home_team"] = df["score"].str.split(":").str[0].astype(float)
df["score_away_team"] = df["score"].str.split(":").str[1].astype(float)
df["goal_difference"] = df["score_home_team"] - df["score_away_team"]

df["match_result"] = np.where(df['score_home_team'] > df['score_away_team'], '1', np.where(df['score_home_team'] < df['score_away_team'], '2', 'X'))

In [69]:
teams = df["home_team"].unique()

In [77]:
df['Winner'] = np.where(df['score_home_team'] > df['score_away_team'], 1, np.where(df['score_home_team'] < df['score_away_team'], 0, -1))

df_class_home = df.groupby(['division', 'season', 'matchday', 'home_team','Winner']).agg(
    GF_safe = pd.NamedAgg(column='score_home_team', aggfunc='sum'),
    GA_safe = pd.NamedAgg(column='score_away_team', aggfunc='sum')
    ).reset_index()
df_class_away = df.groupby(['division', 'season', 'matchday', 'away_team', 'Winner']).agg(
    GF_safe = pd.NamedAgg(column='score_away_team', aggfunc='sum'),
    GA_safe = pd.NamedAgg(column='score_home_team', aggfunc='sum')
    ).reset_index()

df_class_home['W_safe'] = np.where(df_class_home['Winner'] == 1 , 1 ,0)
df_class_home['L_safe'] = np.where(df_class_home['Winner'] == 0 , 1 ,0)
df_class_home['T_safe'] = np.where(df_class_home['Winner'] == -1 , 1 ,0)

df_class_away['W_safe'] = np.where(df_class_away['Winner'] == 0 , 1 ,0)
df_class_away['L_safe'] = np.where(df_class_away['Winner'] == 1 , 1 ,0)
df_class_away['T_safe'] = np.where(df_class_away['Winner'] == -1 , 1 ,0)

df_class_away.rename(columns={'away_team':'team'}, inplace=True)
df_class_home.rename(columns={'home_team':'team'}, inplace=True)
df_classification = df_class_away.merge(df_class_home,how='outer')
df_classification = df_classification.groupby(['season', 'division','matchday','team']).sum().reset_index()

df_classification[['W','L','T','GF','GA']] = df_classification.groupby([ 'division','season','team'])[['W_safe','L_safe','T_safe','GF_safe','GA_safe']].cumsum()
df_classification['result_matchday'] = np.where(df_classification['W_safe']==1,'W',np.where(df_classification['L_safe']==1,'L','T'))

for i in range(5):
    df_classification[f"last_{i}"] = df_classification.groupby(['division','season' ,'team'])['result_matchday'].shift(i+1)

df_classification['GD'] = df_classification['GF'] - df_classification['GA']
df_classification['Pts'] = (df_classification['W']) * 3 + df_classification['T']
df_classification['year_of_start']=df_classification['season'].str.split("-").str[0].astype(int)

df_classification["last_5"] = df_classification[[f"last_{i}" for i in range(5)]].agg(lambda x: [i for i in x if not pd.isna(i)], axis=1)

df_classification_ordered = df_classification.sort_values(by=['year_of_start'], ascending=False)
df_classification_ordered = df_classification_ordered.sort_values(by=['year_of_start','division'],ascending=[False,True])
df_classification_ordered = df_classification_ordered.sort_values(by=['year_of_start','division','matchday'], ascending=[False,True,True])
df_classification_ordered = df_classification_ordered.sort_values(by=['year_of_start','division','matchday', 'Pts'],ascending=[False,True,True,False])
df_classification_ordered = df_classification_ordered.sort_values(by=['year_of_start','division','matchday', 'Pts','GD'],ascending=[False,True,True,False,False])
df_classification_ordered = df_classification_ordered.sort_values(by=['year_of_start','division','matchday', 'Pts', 'GD', 'GF'],ascending=[False,True,True,False,False,False]).reset_index(drop=True)

df_classification_ordered['rank']=df_classification_ordered.groupby(['year_of_start','division','matchday']).cumcount()+1
df_classification_ordered['delayed_rank'] = df_classification_ordered.groupby(['year_of_start','division','team'])['rank'].shift(1)

df_with_rank = df_classification_ordered[['season','division','matchday','team','last_5','delayed_rank']]
df_with_rank

,season,division,matchday,team,last_5,delayed_rank
0,2021-2022,1,1,Real Madrid,[],NaN
1,2021-2022,1,1,Sevilla FC,[],NaN
2,2021-2022,1,1,Barcelona,[],NaN
3,2021-2022,1,1,Atlético Madrid,[],NaN
4,2021-2022,1,1,Valencia,[],NaN
...,...,...,...,...,...,...
95989,1928-1929,1,18,Athletic Madrid,"[T, W, W, L, L]",7.0
95990,1928-1929,1,18,Espanyol,"[T, L, L, T, T]",6.0
95991,1928-1929,1,18,Catalunya,"[W, L, T, T, W]",8.0
95992,1928-1929,1,18,Real Unión,"[L, L, L, W, L]",9.0
95993,1928-1929,1,18,Racing,"[L, W, L, T, T]",10.0

In [ ]:

df["rank_home_team"] = np.where((df_with_rank["team"] == df["home_team"])&(df_with_rank["season"]==df["season"]),df_with_rank["delayed_rank"])
#df["rank_away_team"] =

In [65]:
features = ["goal_difference"]
target = ["match_result"]

In [63]:
df_train = df[df['season'] < '2020-2021']
x_train = df_train[features]
y_train = df_train[target]

df_test = df[df['season']=='2020-2021']
x_test = df_test[features]
y_test = df_test[target]

In [64]:

clf = GradientBoostingClassifier()
clf.fit(x_train, y_train)
clf_y_pred = clf.predict(x_test)

results_df = x_test.copy()
results_df["y_real"] = y_test
results_df["y_pred"] = clf_y_pred

results_df.head(40)

c:\Users\elisaetz\Documents\GitHub\la-quiniela\.laquinielaenv\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

       goal_difference y_real y_pred
25438              0.0      X      X
25439              2.0      1      1
25440             -2.0      2      2
25441             -1.0      2      2
25442              0.0      X      X
25443              0.0      X      X
25444              2.0      1      1
25445              2.0      1      1
25446              2.0      1      1
25447              3.0      1      1
25448              1.0      1      1
25449              1.0      1      1
25450              1.0      1      1
25451             -2.0      2      2
25452              2.0      1      1
25453              1.0      1      1
25454              0.0      X      X
25455             -1.0      2      2
25456              0.0      X      X
25457              2.0      1      1
25458              0.0      X      X
25459              0.0      X      X
25460             -3.0      2      2
25461             -1.0      2      2
25462             -2.0      2      2
25463             -1.0      2      2
25464              5.0      1      1
25465             -2.0      2      2
25466              0.0      X      X
25467              4.0      1      1
25468             -1.0      2      2
25469              3.0      1      1
25470              0.0      X      X
25471              2.0      1      1
25472             -1.0      2      2
25473              1.0      1      1
25474              1.0      1      1
25475             -1.0      2      2
25476             -3.0      2      2
25477              2.0      1      1